body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
    text-align: left;
}

.location-container {
    display: flex;
    align-items: center;
}

.repo-container {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.repo {
    flex: 0 1 48%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.repo:hover {
    transform: scale(1.03);
}
